<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>海天建设</title>
  <link rel="stylesheet" href="../../public/lib/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="../../public/css/settings.css">
  <style>
    .citySelect {
      width: 75px;
    }
  </style>
</head>

<body>
  <!-- nav  -->
  <nav class="navbar navbar-default">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <img height="40px" style="margin-top: -10px;" src="../../public/img/haitian1.jpg" alt="">
          <h4 class="topic_name">海天建设</h4>
        </a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <!-- <img width="20" height="20" src="../public/img/avatar-max-img.png" alt="">  -->
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <!-- <li class="dropdown-current-user">
                    当前登录用户: 
                  </li> -->
              <!-- <li role="separator" class="divider"></li> -->
              <li>
                <a href="/">个人主页</a>
              </li>
              <li>
                <a href="/profile">用户设置</a>
              </li>
              <li><a href="/search">订单查询</a></li>
              <li>
                <a href="/logout">退出</a>
              </li>
            </ul>
          </li>

        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
  <!-- nav -->

  <section class="container">
    <!-- nav setting -->
    <div class="col-md-3 list-group">
      <a href="#" class="list-group-item disabled">用户设置</a>
      <a id="profile" href="/profile" class="list-group-item active">基本信息</a>
      <a id="admin" href="/admin" class="list-group-item">账户设置</a>
    </div>
    <!-- nav setting end-->

    <!-- form -->
    <div class="col-md-5">
      <form id="profile_form">

        <div class="form-group">
          <label>邮箱：</label>
          <span class="form-control-static"></span>
        </div>

        <div class="form-group">
          <label for="exampleInputPassword1">姓名：</label>
          <input type="text" class="form-control" name="name" value="" placeholder="请输入姓名" autofocus>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">年龄：</label>
          <input type="text" class="form-control" name="age" value="" placeholder="请输入年龄" autofocus>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">性别</label>
          <div>
            <label class="radio-inline">
              <input type="radio" name="sex" value="1" checked> 男
            </label>
            <label class="radio-inline">
              <input type="radio" name="sex" value="0"> 女
            </label>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">出生日期：</label>
          <input type="date" class="form-control" name="birthdate" value="" autofocus>
        </div>
        <div class="form-group">
          <label for="phone">身份证号：</label>
          <input type="text" maxlength="18" class="form-control" name="idcard" value="" placeholder="请输入身份证号">
        </div>
        <div class="form-group">
          <label style="padding: 0;" class="control-label col-sm-3">所在地址：</label>
          <div class="col-sm-8">
            <div class="col-sm-4">
              <select class="citySelect" name="input_province" id="input_province" class="form-control">
                <option value="">-请选择-</option>
              </select>
            </div>
            <div class="col-sm-4">
              <select class="citySelect" name="input_city" id="input_city" class="form-control">
                <option value="">-请选择-</option>
              </select>
            </div>
          </div>
        </div>
        <button style="position: relative;left: -110px;top:10px;" type="submit" class="btn btn-success">保存</button>
      </form>
      <!-- form end -->
    </div>
  </section>

  <!-- footer -->
  <footer class="container">
    <p>Copyright © 2019</p>
  </footer>
  <!-- footer end -->
</body>
<script src="../../public/lib/jquery/jquery.js"></script>
<script src="../../public/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="../../public/lib/cityAndPro/cityAndPro.js"></script>
<script src="../../public/js/profile.js"></script>
<script>
  $('#profile_form').on('submit', function (e) {
    e.preventDefault()
    var formData = $(this).serializeArray()
    var obj = {}; 
    $.each(formData, function(index, data) {
        obj[data.name] = data.value; 
    })
    var password0 = $('input[name="name"]').val()
    // console.log(password0,password1,password2)
    if (password0 == "") {
      window.alert('姓名不能为空，请重新输入!')
      window.location.replace(window.location.href)
      return;
    }
    $.ajax({
      url: '/profile',
      type: 'post',
      data: JSON.stringify(obj),
      dataType: 'json',
      contentType:"application/json",
      success: function (data) {
        var err_code = data.err_code
        if (err_code == 0) {
          window.alert("信息修改成功!")
          window.location.replace(window.location.href)
        } else if (err_code == 500) {
          window.alert('服务器忙，请稍后重试!')
        }
      }
    })
  })
</script>

</html>