<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>海天建设</title>
  <link rel="stylesheet" href="../../public/lib/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="../../public/css/settings.css">
</head>

<body>
  <!-- nav -->
  <nav class="navbar navbar-default">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <img height="40px" style="margin-top: -10px;" src="../../public/img/haitian1.jpg" alt="">
          <h4 class="topic_name">海天建设</h4>
        </a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <!-- <img width="20" height="20" src="../public/img/avatar-max-img.png" alt="">  -->
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <!-- <li class="dropdown-current-user">
                        当前登录用户: name
                      </li> -->
              <!-- <li role="separator" class="divider"></li> -->
              <li>
                <a href="/">个人主页</a>
              </li>
              <li>
                <a href="/profile">用户设置</a>
              </li>
              <li>
                <a href="/search">订单查询</a>
              </li>
              <li>
                <a href="/logout">退出</a>
              </li>
            </ul>
          </li>

        </ul>
      </div>
    </div>
  </nav>
  <!-- nav end -->


  <!-- section -->
  <section class="container">
      <!-- nav setting -->
  <div class="col-md-3 list-group">
      <a href="#" class="list-group-item disabled">订单设置</a>
      <a id="profile" href="/search" class="list-group-item active">订单查询</a>
      <a id="admin" href="/new" class="list-group-item">新建订单</a>
    </div>
    <!-- nav setting end-->

    <!-- section -->
  <div class="col-md-5">
    <h4>我的订单：</h4>
    <hr>
    <form action="">
      <div class="form-group">
        <label>订单编号：</label>
        <span class="form-control-static"></span>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">物资类别：</label>
        <span class="form-control-static"></span>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">发货地址：</label>
        <span class="form-control-static"></span>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">收获地址：</label>
        <span class="form-control-static"></span>
      </div>
    </form>
  </div>

  </section>
  <!-- section end -->

  <!-- footer -->
  <footer class="container">
    <p>Copyright © 2019</p>
  </footer>
  <!-- footer end -->
</body>
<script src="../../public/lib/jquery/jquery.js"></script>
<script src="../../public/lib/bootstrap/dist/js/bootstrap.js"></script>

</html>